<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Funkcja JavaScript do obsługi kliknięcia przycisku
        function toggleAlarm() {
            console.log("Toggle alarm button clicked");
            // Wyślij żądanie POST do serwera
            $.post('/toggle_alarm', function(data) {
                // Odśwież stronę po otrzymaniu odpowiedzi od serwera
                location.reload();
            });
        }

        // Funkcja do pokazania okna modalnego
        function showChangeCodeModal() {
            $('#changeCodeModal').modal('show');
        }

        function changeCode() {
            var newCode = $('#newCodeInput').val();
            // Wysyłanie nowego kodu na serwer (możesz to dostosować)
            $.post('/change_code', { new_code: newCode }, function(data) {
                if (data === "OK") {
                    // Jeśli odpowiedź to "OK", zamknij okno modalne
                    $('#changeCodeModal').modal('hide');
                    // Możesz też odświeżyć stronę lub podjąć inne działania, jeśli to konieczne
                    location.reload();
                } else {
                    // Obsługa przypadku, gdy odpowiedź nie jest "OK"
                    console.log("Wystąpił problem podczas zmiany kodu.");
                }
            });
        }

        function uploadMusic() {
            var musicFile = $('#musicFileInput')[0].files[0];

            // Utwórz obiekt FormData i dodaj plik
            var formData = new FormData();
            formData.append('music_file', musicFile);

            // Wyślij żądanie POST do serwera za pomocą technologii AJAX
            $.ajax({
                url: '/upload_music',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    // Obsługa odpowiedzi serwera po pomyślnym przesłaniu pliku
                    console.log('Muzyka przesłana pomyślnie:', data);
                    // Dodaj kod obsługi dla swojego przypadku użycia
                },
                error: function(error) {
                    // Obsługa błędu
                    console.error('Błąd podczas przesyłania muzyki:', error);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" onclick="showChangeCodeModal()">Zmień kod</button>

                <div class="modal fade" id="changeCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Zmień kod</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Pole do wprowadzania nowego kodu -->
                                <input for="code_field" type="password" id="newCodeInput" class="form-control" placeholder="Nowy kod">
                            </div>
                            <div class="modal-footer">
                                <!-- Przycisk do zatwierdzenia nowego kodu -->
                                <button type="button" class="btn btn-primary" onclick="changeCode()">Zatwierdź</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="toggleAlarm()">
                {{ 'Wyłącz' if alarm_bool else 'Włącz' }} alarm
                </button>
            </div>
            <div class="col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="musicFileInput" accept="audio/*" onchange="uploadMusic()">
                    <label class="custom-file-label" for="musicFileInput">Wybierz plik</label>
                </div>

            </div> 
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Godzina</th>
                    <th>Data</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td> <!-- ID -->
                        <td>{{ row[2] }}</td> <!-- Godzina -->
                        <td>{{ row[1] }}</td> <!-- Data -->
                        <td>{{ row[3] }}</td> <!-- Akcja -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
